Adafruit-Blinka==8.20.1
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-pca9685==3.4.10
adafruit-circuitpython-register==1.9.16
adafruit-circuitpython-requests==2.0.1
adafruit-circuitpython-typing==1.9.4
Adafruit-PlatformDetect==3.49.0
Adafruit-PureIO==1.1.11
gpiod==1.5.4
pyftdi==0.55.0
pyserial==3.5
pyusb==1.2.1
typing-extensions==4.7.1
